/* .dedicated-banner{
    background: linear-gradient(#0000005f,#0000005f),url("../../asstes/dedicated-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* .locationCard{
    background: url("../../asstes/town.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 80% 95%;
} */ 